body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230DCBFF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

@keyframes circleAnimation {
    0% {
        transform: translate(0, -100px) rotate(0deg);
    }

    25% {
        transform: translate(100px, 0) rotate(90deg);
    }

    50% {
        transform: translate(0, 100px) rotate(180deg);
    }

    75% {
        transform: translate(-100px, 0) rotate(270deg);
    }

    100% {
        transform: translate(0, -100px) rotate(360deg);
    }
}

.titletxt {
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 34px;
}

.div1 {
    height: 50px;
    background-color: rgb(51, 38, 38);
    text-align: center;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: 100px;
    width: 1000px;
}


.div2 {
    position: absolute;
    right: 10px;
    ;
    width: 500px;
    height: 100px;
}

.titletext2 {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.img1 {
    position: absolute;
    size: 30px;
    margin-left: 250px;
    top: 71px;
}

.img2 {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 280px;
    top: 68px;
    transform: rotate(-30deg);
}

.img3 {
    position: absolute;
    left: 650px;
    top: 10px;
}

.slide {
    position: absolute;
    top: 160px;
    left: 650px;
}


/*cubes*/

.gallery {
    margin: 10px;
    border: 1px solid rgb(46, 46, 46);
    float: left;
    width: 240px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    background-color: rgb(51, 38, 38);
    left: 300px;
}

@keyframes runningGlow {
    0% {
        box-shadow: 0 0 10px rgba(118, 255, 164, 0.7);
    }

    100% {
        box-shadow: 0 0 20px rgba(118, 255, 164, 0.7);
    }
}
/*hiding block*/
.hide {
    opacity: 0;
}

.gallery:hover + .hide {
    opacity: 2;
    color: rgb(255, 255, 255);
    margin: 10px;
    border: 1px solid rgb(46, 46, 46);
    float: left;
    width: 240px;
    height: 190px;
    position: absolute;
    bottom: 70px;
    background-color: rgb(24, 19, 19);
    left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
/*hiding block end*/
.hyper {
    width: 100%;
    height: 180px;
}

.cube1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.gallery2 {
    margin: 10px;
    border: 1px solid rgb(46, 46, 46);
    float: left;
    width: 240px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    background-color: rgb(51, 38, 38);
    left: 650px;
}

.diet {
    width: 100%;
    height: 180px;
}

.cube2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.gallery3 {
    margin: 10px;
    border: 1px solid rgb(46, 46, 46);
    float: left;
    width: 240px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    background-color: rgb(51, 38, 38);
    left: 1000px;
}

.suppliment {
    width: 100%;
    height: 180px;
}

.cube3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.gallery4 {
    margin: 10px;
    border: 1px solid rgb(46, 46, 46);
    float: left;
    width: 240px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    background-color: rgb(51, 38, 38);
    left: 1350px;
}

.form {
    width: 100%;
    height: 180px;
}

.cube4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.gallery:hover {
    box-shadow: 0 8px 16px 0 rgb(118, 255, 164);
}

.gallery2:hover {
    box-shadow: 0 8px 16px 0 rgb(118, 255, 164);
}

.gallery3:hover {
    box-shadow: 0 8px 16px 0 rgb(118, 255, 164);
}

.gallery4:hover {
    box-shadow: 0 8px 16px 0 rgb(118, 255, 164);
}

.but1 {
    align-items: center;
    appearance: none;
    background-color: #fdfcfc;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 55px;
    width: 250px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    top: 520px;
    left: 825px;
}

    .but1:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .but1:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .but1:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }



.but2 {
    align-items: center;
    appearance: none;
    background-color: #fdfcfc;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 55px;
    width: 250px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 17px;
    left: 100px;
    top: 500px;
    font-weight: bold;
}

    .but2:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    .but2:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .but2:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }

.titletext3 {
    position: absolute;
    font-size: 30px;
    top: 550px;
    left: 630px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.img4 {
    position: absolute;
    top: 254px;
    size: 40px;
}

.text2 {
    position: absolute;
    left: 200px;
    top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    width: 300px;
}


.img5 {
    position: absolute;
    right: 200px;
    bottom: 400px;
}


.img6 {
    position: absolute;
    right: 20px;
    width: 150px;
    bottom: 390px;
}
